{% extends 'index.html' %}
{% block account %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span>My Expenses</span>
          </li>
        </ol>
      </nav>
    </div>
    <div class="row">
        <ul>
            <li style="display: inline-block"><a href="{% url 'fixed_cost_view' %}" class="btn btn-primary">
                Fixed costs</a></li>
            <li style="display: inline-block"><a href="{% url 'variable_cost_view' %}" class="btn btn-primary">
                Variable costs</a></li>
            <li style="display: flex"><a href="#variable_costs">Jump to variable cost categories</a></li>
        </ul>
    </div>

  </div>

  <div class="container">


<div class="app-table">

  <table class="table table-stripped table-hover" id="fixed_costs_table">
    <thead>
      <tr>
        <th style="text-align: center">Fixed cost categories</th>
        <th><a href="{% url 'create_category_fixed' %}" class="btn btn-secondary btn-sm">Add new category</a></th>
        <th></th>
      </tr>
          <tr>
            <th>Category name</th>
            <th>Options</th>
            <th>Add source</th>
          </tr>
    </thead>

    <tbody>
    {% for item in fixed %}
      <tr>
        <td><a href="{{ item.get_absolute_url }}">{{ item }}</a></td>
        <td>
            <form method="POST" id="formA"
                onsubmit="return confirm(`Do you want to delete category {{ item }}?`)">
              {% csrf_token %}
            <a href="{{ item.get_edit_url }}" class="btn btn-secondary btn-sm">Edit</a>
            <input type="hidden" value="{{ item.id }}" name="fixed_category_id">
            <button class="btn btn-secondary btn-sm">Delete</button>
            </form>
        </td>
        <td><a href="{{ item.get_add_url }}"><i class="fas fa-plus"></i></a></td>
    {% endfor %}
      </tr>
    </tbody>
  </table>
<table class="table table-stripped table-hover" id="variable_costs">
    <thead>
      <tr>
        <th style="text-align: center">Variable cost categories</th>
        <th><a href="{% url 'create_category_variable' %}" class="btn btn-secondary btn-sm">Add new category</a></th>
        <th></th>
      </tr>
          <tr>
            <th>Category name</th>
            <th>Options</th>
            <th>Add source</th>
          </tr>
    </thead>

    <tbody>
    {% for item in variable %}
      <tr>
        <td><a href="{{ item.get_absolute_url }}">{{ item }}</a></td>
        <td>
        <form method="POST" id="formB"
                onsubmit="return confirm(`Do you want to delete category {{ item }}?`)">
              {% csrf_token %}
            <a href="{{ item.get_edit_url }}" class="btn btn-secondary btn-sm">Edit</a>
            <input type="hidden" value="{{ item.id }}" name="variable_category_id">
            <button class="btn btn-secondary btn-sm">Delete</button>
        </form>
        </td>
        <td><a href="{{ item.get_add_url }}"><i class="fas fa-plus"></i></a></td>
    {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}
