{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block account %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'income_panel' %}">Income</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Income</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form method="POST" id="fixedForm" novalidate>
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control form-control-sm' }}
            {% for error in field.errors %}
                <span class="help">{{ error }}</span>
            {% endfor %}
        </div>
      {% endfor %}

        <button type="submit" class="btn btn-primary btn-primary-sm">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}