{% extends 'index.html' %}
{% block account %}
<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'income_panel' %}">Income</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form method="post" onkeydown="return event.key !== 'Enter';">
      {% csrf_token %}
        <div class="form-group">
          <label for="">Amount</label>
          <input type="number" step="any" class="form-control form-control-sm" name="amount"
                 min="0" oninput="validity.valid||(value='');" value="{{ income.amount }}" required/>
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input type="text" class="form-control form-control-sm" name="description"
                 value="{{ income.description }}" required/>
        </div>
         <div class="form-group">
          <label for="">Date</label>
          <input type="date" class="form-control form-control-sm" name="income_date"
                 value="{{ income.date }}" required/>
        </div>
        <div class="form-group">
          <label for="">Source</label>
            <input type="text" class="form-control form-control-sm" name="income_source" id="income_source"
                   value="{{ income.source }}" required/>
{#            <input type="hidden" name="categoriesString">#}
{#            <ul id="categoriesContainer">#}
{#            </ul>#}

        </div>
          <button type="submit" class="btn btn-primary btn-primary-sm">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}