{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block account %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'fixed_cost_view' %}">Fixed costs</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Expense</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form method="POST" id="fixedForm" data-sources-url="{% url 'ajax_load_sources' %}" novalidate>
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control form-control-sm' }}
            {% for error in field.errors %}
                <span class="help">{{ error }}</span>
            {% endfor %}
        </div>
      {% endfor %}

        <button type="submit" class="btn btn-primary btn-primary-sm">Submit</button>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_category").change(function () {
      var url = $("#fixedForm").attr("data-sources-url");
      var categoryId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'category': categoryId
        },
        success: function(data) {
          $("#id_source").html(data);
        }
      });

    });
  </script>
{% endblock %}