{% extends 'index.html' %}
{% block account %}
<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span><a href="{% url 'expense_panel' %}">My Expenses</a></span>
      </li>
      <li class="breadcrumb-item">
        <span><a href="{% url 'fixed_cost_view' %}">Fixed Costs</a></span>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Edit Fixed Cost</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form method="post" onkeydown="return event.key !== 'Enter';">
      {% csrf_token %}
        <div class="form-group">
          <label for="">Amount</label>
          <input type="number" step="any" class="form-control form-control-sm" name="expense_amount"
                 min="0" oninput="validity.valid||(value='');" value="{{ expense.amount }}" required/>
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input type="text" class="form-control form-control-sm" name="expense_description"
                 value="{{ expense.description }}" required/>
        </div>
         <div class="form-group">
          <label for="">Date</label>
          <input type="date" class="form-control form-control-sm" name="expense_date"
                 value="{{ expense.get_date }}" required/>
        </div>
        <div class="form-group">
          <label for="">Category</label>
          <select class="form-control" name="expense_category" required>
              {% for category in categories %}
              <option>{{ category.name }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Source</label>
          <select class="form-control" name="expense_source" required>
              {% for source in sources %}
              <option>{{ source }}</option>
              {% endfor %}
          </select>
        </div>
          <button type="submit" class="btn btn-primary btn-primary-sm">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}