{% extends 'index.html' %}
{% block account %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <span><a href="{% url 'expense_panel' %}">My Expenses</a></span>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Variable Costs</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-2">
        <a href="{% url 'add_variable' %}" class="btn btn-primary">Add Expense</a>
    </div>

  </div>

  <div class="container">


<div class="app-table">

  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Category</th>
        <th>Source</th>
        <th>Description</th>
        <th>Date</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      {% for expense in pages %}
      <tr>
        <td>{{expense.amount}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.source}}</td>
        <td>{{expense.description}}</td>
        <td>{{expense.date}}</td>
          <form method="POST"
                onsubmit="return confirm(`Do you want to delete expense {{ expense.description }}: {{ expense.amount }}?`)">
              {% csrf_token %}
        <td>
          <a href="{{ expense.get_absolute_url }}" class="btn btn-secondary btn-sm">Edit</a>
          <input type="hidden" value="{{ expense.id }}" name="expense_id">
          <button class="btn btn-secondary btn-sm">Delete</button>
        </td>
          </form>
      {% empty %}
      <td><p class="no-results">No results </p></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



<div class="pagination-container">
    <ul class="pagination">
        {% if pages.has_previous %}
            <li>
                <a href="?page={{ pages.previous_page_number }}"><i class="fa fa-chevron-left"
                                                              aria-hidden="true"></i>&nbsp previous &nbsp</a>
            </li>
        {% else %}
            <li class="disabled"><span><i class="" aria-hidden="true"></i></span></li>
        {% endif %}
        {% if pages.number|add:'-4' > 1 %}
            <li>
                <a href="?page={{ pages.number|add:'-5' }}"> &hellip;</a>
            </li>
        {% endif %}
        {% for i in pages.paginator.page_range %}
            {% if pages.number == i %}
                <li class="active"><span>|&nbsp{{ i }}&nbsp|<span class="sr-only">(current)</span></span></li>
            {% elif i > pages.number|add:'-5' and i < pages.number|add:'5' %}
        <li>
            <a href="?page={{ i }}">&nbsp{{ i }}&nbsp</a>
        </li>
            {% endif %}
        {% endfor %}

        {% if pages.paginator.num_pages > pages.number|add:'4' %}
        <li>
            <a href="?page={{ pages.number|add:'5' }}"> &hellip;</a>
        </li>
        {% endif %}

        {% if pages.has_next %}
            <li>
                <a href="?page={{ pages.next_page_number }}">&nbsp next &nbsp<i class="fa fa-chevron-right"
                          aria-hidden="true"></i></a>
            </li>
        {% else %}
            <li class="disabled"><span><i class="fa" aria-hidden="true"></i></span></li>
        {% endif %}
    </ul>
</div>
</div>
</div>
{% endblock %}
