{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home budget planner{% block title %} {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/"><i class="fas fa-home"></i></a>
      <ul class="navbar-nav px-3" style="display: flex; flex-direction: row; align-items: center;">
      {% if user.is_authenticated %}
        <li><span class="nav-item text-white-50">Logged as: {{ user.username }}</span></li>
        <li><a class="navbar navbar-dark" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></li>
      {% else %}
        <li><a class="navbar navbar-dark" href="{% url 'login' %}">Login</a></li>
        <li><a class="navbar navbar-dark" href="{% url 'signup' %}">Register</a></li>
      {% endif %}
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        {% include 'partials/_sidebar.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% if user.is_authenticated == False %}
            {% block content %}
              <div class="container">
                <p>log in to start planning your budget</p>
              </div>
            {% endblock %}
            {% endif %}
            {% block account %}

            {% endblock %}
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous">
    </script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="/docs/4.4/static/js/vendor/jquery.slim.min.js"><\/script>'
        );
    </script>
    <script
      src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
     <script src="{% static 'js/main.js' %}"></script>
  <script src="https://kit.fontawesome.com/06eaff2cf4.js" crossorigin="anonymous"></script>
  </body>
</html>