{% extends 'index.html' %}
{% block chartinfo %}
<h2>Filter your incomes!</h2>
<form method="POST">
{% csrf_token %}
<div class="form-row">
    <div class="form-group col-md-2 col-lg-2">
        <label for="from_date" style="display: flex; justify-content: center">From:</label>
            <input type="date" name="from_date" id="from_date" class="form-control form-control-sm" required>
    </div>
    <div class="form-group col-md-2 col-lg-2">
        <label for="to_date" style="display: flex; justify-content: center">To:</label>
            <input type="date" name="to_date" id="to_date" class="form-control form-control-sm" required>
    </div>
</div>
<button type="submit" class="btn btn-primary btn-primary-sm"><i class="fas fa-search"></i></button>
</form>
{% endblock %}
{% block account %}
<div class="container">
    <span style="display: flex; justify-content: center"><b>{{ total }}</b></span>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="myChart" width="450" height="200"></canvas>
<script>
let backgroundColors = [];
let ctx = document.getElementById('myChart').getContext('2d');
let myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for label in labels %}'{{ label }}', {% endfor %}],
        datasets: [{
            label: 'Income',
            data: [{% for item in data %}'{{ item }}', {% endfor %}],
            backgroundColor: backgroundColors,
            borderColor: [
                'rgba(0, 0, 0, 0.3)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes:[{
                barPercentage: 0.2,
                gridLines: {
                display:false
        }
    }]
        }
    }
});
for (i = 0; i < myChart.data.datasets[0].data.length; i++) {
    if (myChart.data.datasets[0].data[i] >= 100) {
        backgroundColors.push("#0080ff");
    } else {
        backgroundColors.push("red");
    }
}

myChart.update();
</script>
{% endblock %}